---
import DefaultLayout from "../layouts/default.astro"
import {ProfileCard, ContactCard} from "../components/components" 
---
<DefaultLayout title="Athul Anoop">
<div class="w-4/5 flex flex-col justify-around items-center gap-6 md:w-3/4 xl:gap-10 xl:flex-row">
    <ProfileCard/>
    <ContactCard/>
</div>
</DefaultLayout>
    
