---
import DefaultLayout from "../layouts/default.astro"
import {ProfileCard, ContactCard} from "../components/components" 
---
<DefaultLayout title="Athul Anoop">
<div class="w-4/5 flex flex-col justify-around items-center gap-6 md:w-3/4 md:flex-row md:gap-10">
    <ProfileCard/>
    <ContactCard/>
</div>
</DefaultLayout>
    
