@import "tailwindcss";
@plugin "@tailwindcss/typography";

.no-overscroll {
  overscroll-behavior: none;
}

html::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.noise {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: contrast(140%) brightness(100%);
  background:
    linear-gradient(
      135deg,
      rgba(0, 89, 255, 0.66),
      rgba(255, 89, 0, 0.4),
      rgba(29, 76, 164, 0.3)
    ),
    url("data:image/svg+xml,%3csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3e%3cfilter id='noiseFilter'%3e%3cfeTurbulence type='turbulence' baseFrequency='2.5' numOctaves='7' stitchTiles='stitch'/%3e%3cfeColorMatrix type='matrix' values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0'/%3e%3c/filter%3e%3crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.4'/%3e%3c/svg%3e");
  background-blend-mode: overlay;
}

.noise-2 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: contrast(120%) brightness(140%);
  background:
    url("data:image/svg+xml,%3csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3e%3cfilter id='noiseFilter'%3e%3cfeTurbulence type='turbulence' baseFrequency='2.5' numOctaves='7' stitchTiles='stitch'/%3e%3cfeColorMatrix type='matrix' values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0'/%3e%3c/filter%3e%3crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.4'/%3e%3c/svg%3e"),
    linear-gradient(135deg, rgba(0, 89, 255, 0.4), rgba(255, 89, 0, 0.4));
}

.glass {
  @appyly ring-white/10;
  @apply bg-white/20;
  @apply backdrop-blur-sm;
  @apply border-2;
  @apply border-white/20;
}
