---
import DefaultLayout from "../layouts/default.astro";
import { ProfileCard, ContactCard } from "../components/components";
---

<DefaultLayout title="Athul Anoop">
  <div
    class="w-full h-full z-10 flex flex-col justify-center items-center lg:h-screen"
  >
    <div
        class="py-16 grid grid-rows-4 grid-cols-1 gap-4 lg:py-0 lg:grid-rows-1 lg:grid-cols-4 ease-in-out duration-300"
    >
      <ProfileCard />
      <ContactCard />
    </div>
  </div>
</DefaultLayout>
