---
import DefaultLayout from "../layouts/default.astro";
import ProfileCard from "@components/home/profile-card";
import ContactCard from "@components/home/contact-card";
import SkillsCard from "@components/portfolio/skills-card";
import InterestsCard from "@components/portfolio/interests-card";
import ProjectsCard from "@components/portfolio/projects-card";

---

<DefaultLayout title="Athul Anoop">
  <section
    id=""
    class="w-full h-full z-10 flex flex-col justify-center items-center"
  >
    <div
        class="w-full grid grid-rows-3 grid-cols-1 gap-10 lg:grid-rows-1 lg:grid-cols-4 ease-in-out duration-300"
    >
      <ProfileCard client:load/>
      <ContactCard client:load/>
    </div>
  </section>
  <section
      id="portfolio"
      class="w-full h-full z-10 flex flex-col justify-center items-center"
      >
      <div class="w-full grid grid-cols-1 gap-10 md:grid-cols-3">
          <div class="grid grid-cols-subgrid gap-8">
              <SkillsCard client:visible/>
              <InterestsCard client:visible/>
          </div>
      <ProjectsCard client:visible/>
      </div>
  </section>
</DefaultLayout>

