---
import DefaultLayout from "@layouts/default.astro";
import HomeSection from "@layouts/home-section.astro";
import ProfileCard from "@components/home/profile-card";
import ContactCard from "@components/home/contact-card";
import SkillsCard from "@components/portfolio/skills-card";
import InterestsCard from "@components/portfolio/interests-card";
import ProjectsCard from "@components/portfolio/projects-card";
import { Image } from "astro:assets";

---

<DefaultLayout title="Athul Anoop">
    <HomeSection id="home">
    <ProfileCard client:load>
        <Image
          src="/pfp.jpg"
          alt="Athul Anoop"
          width={512}
          height={512}
          class="border-2 border-white/20 rounded-full w-48 h-48 md:w-32 md:h-32 lg:w-48 lg:h-48 2xl:w-80 2xl:h-80"
        />

    </ProfileCard>
    </HomeSection>
    <HomeSection
      id="portfolio"
      >
      <div class="w-full grid grid-cols-1 gap-8 md:grid-cols-3 lg:gap-10">
          <div class="grid grid-cols-subgrid gap-8">
              <SkillsCard client:visible/>
              <InterestsCard client:visible/>
          </div>
      <ProjectsCard client:visible/>
      </div>
    </HomeSection>
    <HomeSection
    id="contact"
    >
        <ContactCard client:load/>

    </HomeSection>
</DefaultLayout>

