---
import DefaultLayout from "../layouts/default.astro";
import {
  SkillsCard,
  ProjectsCard,
  InterestsCard,
} from "../components/components";
---

<DefaultLayout>
  <div class="p-6 grid grid-cols-1 gap-8 md:px-16 md:py-8 md:grid-cols-3">
    <div class="grid grid-cols-subgrid gap-8">
      <SkillsCard />
      <InterestsCard />
    </div>
    <ProjectsCard client:load/>
  </div>
</DefaultLayout>
