---
import "../styles/global.css";
import Nav from "@components/common/Nav";
import Footer from "@components/common/Footer";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative flex flex-col min-h-screen no-overscroll scroll-smooth">
    <div
      class="absolute inset-0 h-full w-full z-0 noise"
    >
    </div>
    <div class="w-full h-full py-8 px-4 flex flex-col justify-start gap-10 z-10 sm:px-8 xl:px-16 scroll-smooth">
      <Nav client:load />
      <slot />
    </div>
    <!-- <Footer /> -->
  </body>
</html>
